:root {
  --icon-size: 25px;
  --icon-pad: 2px;
  --icon-btn-size: calc(var(--icon-size) + 2 * var(--icon-pad));
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  margin: 0;
  padding-inline-start: 20px;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

#app-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
}

#map-container {
  flex: 1;
  position: relative;
}

#svg-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#ui-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  padding: 10px;
  border-right: 2px solid black;

  cursor: url("img/select.svg") 0 0, auto;
}

#test-ui-panel {
  display: flex;
  flex-direction: column;
  gap: 5px;

  width: 300px;
  border-radius: 5px;
  padding: 5px;

  border: 1px solid black;
}

#ui-panel,
#directions-panel {
  display: flex;
  flex-direction: column;
  gap: 2px;

  max-width: 300px;
  padding: 2px;

  border: 1px solid black;
  border-radius: 5px;
}

#directions-panel {
  overflow-y: scroll;
}

.row {
  display: flex;
  justify-content: space-around;
  gap: 5px;
}

.row > span {
  flex: 1;
}

.tool-icon {
  width: var(--icon-size);
  height: var(--icon-size);
}

.tool-btn {
  width: var(--icon-btn-size);
  height: var(--icon-btn-size);
  padding: var(--icon-pad);
  border-radius: 5px;
  overflow: hidden;
}

.tool-btn.selected {
  background-color: lightblue;
  border: 1px solid cadetblue;
}

.tool-btn:hover {
  background-color: lightblue;
}

.txt-btn {
  background-color: hsl(217, 90%, 61%);
  color: white;
  border: 1px solid black;
  border-radius: 5pt;

  padding-block: 2pt;
  padding-inline: 5pt;
  text-align: center;
  font-weight: bold;

  cursor: pointer;
  user-select: none;
}

.txt-btn:hover {
  box-shadow: inset 3px 3px 10px #ffffff88;
}

.txt-btn:active,
.txt-btn.active {
  box-shadow: inset 5px 5px 10px #00000088;
}

.title {
  text-align: center;
  font-size: large;
  font-weight: bold;
}
