svg.adding {
  cursor: url("img/cursors/add-vtx.svg") 0 0, auto;
}

svg.deleting {
  cursor: url("img/cursors/rmv-vtx-inactive.svg") 0 0, auto;
}

svg:not(.adding):not(.deleting) {
  pointer-events: none;
}

#test-point {
  fill: rgba(255, 0, 0, 1);
}

#avg-point {
  fill: rgba(0, 255, 0, 1);
}

svg.adding .movable {
  cursor: move;
}

svg.deleting .deletable {
  cursor: url("img/cursors/rmv-vtx-active.svg") 0 0, auto;
}

.selected {
  stroke: rgba(255, 0, 0, 1);
  stroke-width: 3;
}
