:root {
    --neutral-light: #efefef;
    --neutral-medium: #9a9a9a;
    --neutral-dark: #404040;
    --bg-dark: #00c897;
    --bg-light: #d3eee7;
    --navbar-height: 40pt;
}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--bg-light);
    font-family: 'Lato', sans-serif;
}

.row {
    display: flex;
}

.flex-mid {
    justify-content: center;
}

.flex-space {
    justify-content: space-between;
}

.flex-v-mid {
    align-items: center;
}

/* [class*="col-"] {
	flex: 0 0 auto;
	padding-inline: 5px;
} */

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

#wrapper {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#nav {
    position: sticky;
    top: 0;
    height: var(--navbar-height);
    width: 100%;
    background-color: var(--bg-dark);
    color: #ffffff;
    z-index: 2;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

#navbar, #navbar-links, #navbar-links > ul {
    height: var(--navbar-height);
}

#navbar-list, #sidebar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar-list {
    display: flex;
}

#sidebar-list {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
}

#navbar-list > li {
    display: block;
    line-height: var(--navbar-height);
    height: 100%;
    background-color: var(--bg-dark);
    transition: all ease-out 0.25s;
    z-index: inherit;
}

#sidebar-list > li {
    display: block;
    width: 100%;
}

#navbar-list > li:hover {
    height: calc(var(--navbar-height) + 10px);
    line-height: calc(var(--navbar-height) + 10px);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.2), 0 5px 20px 5px rgba(0, 0, 0, 0.2);
    z-index: 3;
}

#sidebar-list > li:hover {
    background-color: var(--bg-dark);
}

#sidebar-list > li:hover > a {
    color: white;
}

.nav-link {
    display: block;
    padding-inline: 10px;
    font-size: 18pt;
    text-decoration: none;
    color: inherit;
    height: 100%;
}

.sidebar-link {
    display: block;
    width: 100%;
    font-size: 16pt;
    text-decoration: none;
    color: inherit;
    padding-block: 5px;
}

#main-wrapper {
    flex: 10 auto;
    z-index: 1;
}

#main {
    align-items: flex-start;
    background-color: var(--neutral-light);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    /* border-inline: 1px solid black; */
}

.col-main {
    margin-block: 10px;
    border-radius: 5px;
    padding-block: 5px;
}

.left {
    position: sticky;
    top: calc(var(--navbar-height) + 10px);
    width: calc(20% - 5px);
    flex-direction: column;
}

.right {
    width: calc(80% - 5px);
    padding-inline: 5px;
}

.footer {
    text-align: center;
    background-color: var(--neutral-dark);
    color: var(--neutral-medium);
    padding-block: 10px;
    padding-inline: 50px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.large {
    font-size: 20pt;
}

.accent {
    color: var(--bg-dark);
}